.panel {
	height: 130%;
	width: 100%;
}
.panel.green {
}
body {
  height: 100%;
  overflow: scroll;
}
b{
	text-align: center;
	vertical-align: middle;
	position: relative;
	overflow: visible;
    display: block;
	color: white;
}
.ui.menu {
    border-radius: 0px !important;
    width: 100vw !important;
}
.first_column{
	width:0vh;
	transition: height 0.3s	;
}
.show{
	width: 30vw;
	visibility: visible;
}
#column_black{
	top: 100%;
	position: relative;
	transition: all 1s ease-out;
	height: 150vw;
}
.show_black{
	top:0 !important;
}
#column_image{
	height:0;
	transition: all 1s ease-out;
}
.show_image{
	height: 150vw !important;
	display:block !important;
}
#text-area{
	position: absolute;
	top:40%;
}
.third_column{
	width: 35vw;
	opacity: 0;
	transition: all 1s ease-out;
	display: inline-block;
}
.container_effect{
	opacity:1 !important;
}
#container {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: absolute;
  top:40vh;
  left: 40vw;
}
#first{
	background-size:cover;
	background-repeat: no-repeat;
	background-image: url('./nckuee.jpg');
	background-position: center;
	width: 100% !important;

